@utility card {
  --card-p: calc(var(--spacing) * 3);
  --card-radius: var(--radius-xl);

  @apply bg-background-thick;

  padding: var(--card-p);
  border-radius: var(--card-radius);
}

@utility card-sm {
  --card-p: calc(var(--spacing) * 1.5);
  --card-radius: var(--radius-lg);
}

@utility card-lg {
  --card-p: calc(var(--spacing) * 6);
  --card-radius: var(--radius-2xl);
}