/*
  Popover
  The popover container should have `group/popover` class and be `absolute` or `relative`
*/
@utility popover {
  @apply relative w-max max-w-full;
}

@utility popover-body {
  @apply absolute w-max rounded-kado z-10;
}

/* --- */

/* Positions */
@utility popover-body-t {
  @apply popover-body;
  /* Extend */

  @apply top-out left-center;
}

@utility popover-body-tr {
  @apply popover-body;
  /* Extend */

  @apply top-out right-out;
}

@utility popover-body-r {
  @apply popover-body;
  /* Extend */

  @apply top-center right-out;
}

@utility popover-body-br {
  @apply popover-body;
  /* Extend */

  @apply bottom-out right-out;
}

@utility popover-body-b {
  @apply popover-body;
  /* Extend */

  @apply bottom-out left-center;
}

@utility popover-body-bl {
  @apply popover-body;
  /* Extend */

  @apply bottom-out left-out;
}

@utility popover-body-l {
  @apply popover-body;
  /* Extend */

  @apply top-center left-out;
}

@utility popover-body-tl {
  @apply popover-body;
  /* Extend */

  @apply left-out;
}

/* --- */