/* Badge */
@utility badge {
  --badge-h: calc(var(--spacing) * 6);
  --badge-text: var(--text-sm);
  --badge-line: var(--tw-leading, var(--text-sm--line-height));

  @apply f-center gap-0.75 px-1.5 rounded-child w-max max-w-full;

  height: var(--badge-h);
  font-size: var(--badge-text);
  line-height: var(--badge-line);
}
/* --- */

/* Sizes */
@utility badge-sm {
  --badge-h: calc(var(--spacing) * 5);
  --badge-text: var(--text-xs);
  --badge-line: var(--tw-leading, var(--text-xs--line-height));
}

@utility badge-lg {
  --badge-h: calc(var(--spacing) * 7);
  --badge-text: var(--text-base);
  --badge-line: var(--tw-leading, var(--text-base--line-height));
}

/* --- */

/* Variants */
@utility badge-fill {
  @apply badge; /* Extend */

  @apply bg-palette text-brush;
}

@utility badge-outline {
  @apply badge; /* Extend */

  @apply border border-palette text-palette;
}

@utility badge-soft {
  @apply badge; /* Extend */

  @apply bg-palette/10 text-palette;
}

@utility badge-ghost {
  @apply badge; /* Extend */

  @apply text-palette;
}
/* --- */

/* Utils */
@utility badge-icon-size {
  width: calc(var(--badge-h) / 2);
  min-width: calc(var(--badge-h) / 2);
  height: calc(var(--badge-h) / 2);
}
/* --- */