@layer base {
  html {
    @apply scroll-smooth bg-background text-foreground;
  }

  * {
    @apply select-none;
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--color-foreground)) transparent;

    &:focus {
      @apply outline-none;
    }
  }

  a,
  span,
  label {
    @apply inline-block;
  }

  button {
    @apply cursor-pointer;
  }

  textarea {
    @apply resize-none;
  }
}