/* card */
@utility card {
  --card-background: var(--color-background);
  --card-p: calc(var(--spacing) * 3);

  @apply rounded-parent;

  background-color: var(--card-background);
  padding: var(--card-p);
}
/* --- */

/* Sizes */
@utility card-sm {
  --card-p: calc(var(--spacing) * 1.5);
}

@utility card-lg {
  --card-p: calc(var(--spacing) * 6);
}

@utility card-pure {
  --card-p: 0;
}
/* --- */

/* Colors */
@utility card-thin {
  --card-background: var(--color-background-thin);
}

@utility card-thick {
  --card-background: var(--color-background-thick);
}
/* --- */