@utility card {
  --card-background: var(--color-background);
  --card-p: calc(var(--spacing) * 3);
  --card-radius: var(--radius-xl);

  background-color: var(--card-background);
  padding: var(--card-p);
  border-radius: var(--card-radius);
}

@utility card-sm {
  --card-p: calc(var(--spacing) * 1.5);
  --card-radius: var(--radius-lg);
}

@utility card-lg {
  --card-p: calc(var(--spacing) * 6);
  --card-radius: var(--radius-2xl);
}

@utility card-pure {
  --card-p: 0;
}

@utility card-thin {
  --card-background: var(--color-background-thin);
}

@utility card-thick {
  --card-background: var(--color-background-thick);
}
