@utility indicator {
  --indicator-size: calc(var(--spacing) * 6);
  --indicator-text: var(--text-sm);
  --indicator-line: var(--tw-leading, var(--text-sm--line-height));

  @apply bg-palette text-brush f-center rounded-full absolute;

  width: clamp(var(--indicator-size), var(--indicator-size), var(--indicator-size));
  height: clamp(var(--indicator-size), var(--indicator-size), var(--indicator-size));
  font-size: var(--indicator-text);
  line-height: var(--indicator-line);
}

@utility indicator-sm {
  --indicator-size: calc(var(--spacing) * 3);
  --indicator-text: var(--text-xs);
  --indicator-line: var(--tw-leading, var(--text-xs--line-height));
}

@utility indicator-lg {
  --indicator-size: calc(var(--spacing) * 9);
  --indicator-text: var(--text-base);
  --indicator-line: var(--tw-leading, var(--text-base--line-height));
}

@utility indicator-t {
  @apply top-boundary left-center;
}

@utility indicator-tr {
  @apply top-boundary right-boundary;
}

@utility indicator-r {
  @apply right-boundary top-center;
}

@utility indicator-br {
  @apply bottom-boundary right-boundary;
}

@utility indicator-b {
  @apply bottom-boundary left-center;
}

@utility indicator-bl {
  @apply bottom-boundary left-boundary;
}

@utility indicator-l {
  @apply top-center left-boundary;
}

@utility indicator-tl {
  @apply top-boundary left-boundary;
}
