/* Menu */
@utility menu {
  --menu-size: calc(var(--spacing) * 3);

  @apply bg-background-thick backdrop-blur-sm rounded-lg w-max;

  padding: var(--menu-size);
}
/* --- */

/* Sizes */
@utility menu-sm {
  --menu-size: calc(var(--spacing) * 1.5);
}

@utility menu-lg {
  --menu-size: calc(var(--spacing) * 6);
}
/* --- */

/* Directions */
@utility menu-y {
  @apply menu; /* Extend */

  @apply flex flex-col;

  row-gap: var(--menu-size);
}

@utility menu-x {
  @apply menu; /* Extend */

  @apply f-align;

  column-gap: var(--menu-size);
}
/* --- */
